################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fanword/Fanword.Android/Resources/Resource.designer.cs
