<div style="margin-top: 15px">
    <div class="jumbotron">
        <h1 class="display-3">You are not currently registered as an advertiser.</h1>
        <p class="lead">
            @Html.ActionLink("Click here to begin the registration process", "AdvertisersWeb", "Registration")
        </p>
    </div>
</div>