<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Beta</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fanwordportalbeta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fanwordportalbeta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fanwordPortalBeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fanwordPortalBeta</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fanword-beta.database.windows.net,1433;Initial Catalog=FanwordBetaDbLatest;Persist Security Info=False;User ID=fanwordadmin;Password=!FanWordPortal99;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:fanword-beta.database.windows.net,1433;Initial Catalog=FanwordBetaDbLatest;Persist Security Info=False;User ID=fanwordadmin;Password=!FanWordPortal99;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Fanword.Data.Context.ApplicationDbContext, Fanword.Data" MigrationConfiguration="Fanword.Data.Migrations.Configuration, Fanword.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureHubConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://agilxsbnew.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=8NgmtzC0dBnHIFeMmdkB/cUpdSuJxGZDL3AztlR6Xvs=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureHubConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://agilxsbnew.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=8NgmtzC0dBnHIFeMmdkB/cUpdSuJxGZDL3AztlR6Xvs=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=fanword;AccountKey=6+TqEO5TQuG37hWgcmvO3pxdCbG0kO04xbT5Vvp8sWya5a/aFXVLDr132RVOkNBACLCZZu5fB+ndPyWvWPdOPw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=fanword;AccountKey=6+TqEO5TQuG37hWgcmvO3pxdCbG0kO04xbT5Vvp8sWya5a/aFXVLDr132RVOkNBACLCZZu5fB+ndPyWvWPdOPw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureHubConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:fanword-beta.database.windows.net,1433;Initial Catalog=FanwordBetaDbLatest;Persist Security Info=False;User ID=fanwordadmin;Password=!FanWordPortal99;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>