<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Server=tcp:fanword.database.windows.net,1433;Initial Catalog=FanwordProdDb;Persist Security Info=False;User ID=fanwordadmin;Password=1Fanword2;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=fanwordstorage;AccountKey=a4TE3plANKBpUgsrNVo/8qMR3SXrH/lxkAKJytmmXeeEZUfpBna1W5bds0+4zYc0K+QDMK69R2ZNqzDNjCyVsQ==;EndpointSuffix=core.windows.net" />
    <add name="AzureHubConnection" connectionString="Endpoint=sb://fanword.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Alr6h4quyxTRYXH2nZGQrC0LAAr5Oh1GEHHc7iF86g8="/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="HubName" value="fanwordprod"/>
  </appSettings>
</configuration>
