
@{
    ViewBag.Title = "Comments";
}



@section Breadcrumb {
    <div ui-view="breadcrumbview"></div>
}

<div ui-view="mainview">

</div>

@section CustomScripts {
    @Scripts.Render("~/Bundles/Comments")
}
