
<div style="margin-top: 15px;">
    <uib-tabset justified="true">
        <uib-tab heading="Details">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input type="text" class="form-control" ng-model="advertiser.companyName"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contact Name</label>
                        <input type="text" class="form-control" ng-model="advertiser.contactName" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Website Link</label>
                        <input type="text" class="form-control" ng-model="advertiser.websiteLink"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-gorup">
                        <label class="control-label">Company Information</label>
                        <textarea ng-model="advertiser.companyDescription" class="form-control" rows="4" cols="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Logo</label><br/>
                        <img ng-src="{{logoImageSource}}" alt="" style="max-height: 250px; max-width: 250px; cursor: pointer;" id="logoImage" ng-click="openLogoUpload()"/>
                        <div style="display: none;">
                            <input type="file" kendo-upload k-options="logoFileUpload" id="logoFile"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" ng-click="saveAdvertiser()" ng-disabled="isSaving">{{saveText}}</button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <uib-tab-heading>
                Campaigns <span class="badge badge-info">{{campaignOptions.dataSource.total()}}</span>
            </uib-tab-heading>
            <div kendo-grid k-options="campaignOptions"></div>
        </uib-tab>
    </uib-tabset>
</div>