<div class="md-checkbox pull-right" style="margin-top: 10px; margin-right: 15px;">
    <input type="checkbox" id="checkbox1" class="md-check" ng-click="reloadGrid()" ng-model="showInactive">
    <label for="checkbox1">
        <span class="inc"></span>
        <span class="check"></span>
        <span class="box"></span>Show Inactive
    </label>
</div>
<div class="clearfix"></div>


<div kendo-grid k-options="sportOptions" style="margin-top:20px;"></div>